src/xmls/slots/Slots.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="SlotsList">
        <xs:complexType>
            <xs:element name="slots">
                <xs:complexType>
                    <xs:all>
					    <xs:element name="SlotNo" type="xs.integer"/>
                        <xs:element name="ClassId" type="xs.string"/>
                        <xs:element name="StartTime" type="xs:dateTime"/>
						 <xs:element name="EndTime" type="xs:dateTime"/>
					   
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:complexType>
    </xs:element>
    
    
</xs:schema>